.a {
    height: 100vh;
    display: flex;
    align-items: center;
    
    
  }
  
  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .a-right {
    flex: 1;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
  

  }

 h1{
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    color: #FEE3E8;
  }
  50% {
    color: #f81f47;
  }

  100% {
    color: #FEE3E8;
  }
}
 
  .a-card.bg {
    position: absolute;
    
    background-color: #FEE3E8;
  }
  
  .a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    animation: pulse 10s infinite;
    
  }
  
  .a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50px;
  }
  

  
  .a-title {
    font-weight: 400;
    font-size: 80px;
  }
  
  .a-sub {
    margin: 20px 0px;
  }
  
  .a-desc{
      font-weight: 300;
     
  }

  .slider{
    text-align: center;
    margin-top: 30px;
    text-decoration: none;

  }

  .slider-1 {
    padding: 20px;
  }
  


  .carousel-indicators {
    visibility: hidden;
  }
  
      
  

  @media screen and (max-width:680px) {
    .a{
      display: flex;
      position: relative;
      margin-left: 100px;
    }

    .a-title {
      font-size: 60px;
    }


    .a-left {
      display: none;
    }

    .a-card {
      display: none;
    }

    .a-card.bg, .a-award {
      display: none;
    }
    .slider-1{
      visibility: hidden;
    }

}