.w {
    height: 100vh;
    display: flex;

  
    flex-direction: column;


  }
  
  .slider-2 {
    padding: 20px;
  }
  
  
  .w-container{
      padding: 120px 200px 100px;
      height: 100vh;
  }

  .w-desc{
    margin-top: 40px;
  }

  .w-sub {
    margin-top: 20px;
  }

  .slider {
    margin-top: 80px;
  }

 .item {
        width:20%;
        height: 150px;
        margin-top: 0px;
 }

 .item-2 {
    width:15%;
    height: 150px;
    margin-top: 0px;
}

.item-3 {
    width:14%;
    height: 150px;
    margin-top: 0px;
}

  .w-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .w-title {
    font-weight: 400;
    font-size: 80px;
  }
  
  
  .w-desc{
      font-weight: 300;
     
  }

  
  .carousel-indicators {
    visibility: hidden;
  }
  

  .carousel-control-prev-icon{
    visibility: hidden ;
  }
  
  @media screen and (max-width:980px) {
    .w{
      height: 100vh;
    }
      .w-container{
        padding: 20px;
   
      }

      .w-title{
        font-size: 60px;
      }

      .w-sub{
        font-size: 12px;
      }

      .w-desc{
        font-size: 15px;
        padding: 10px;
      }

      .item {
        width:50%;
        height: 120px;
        margin-top: 0px;
 }

 .item-2 {
    width:35%;
    height: 120px;
    margin-top: 0px;
}


.item-3 {
    width:30%;
    height: 120px;
    margin-top: 0px;
}

.slider-2 {
  padding: 20px;
}

  }